@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["message"]</h3>
<p>Professor: @ViewData["Professor"]</p>
<p>Student: @ViewData["Student"]</p>
<address>
    <strong>@ViewData["Course"]</strong>
    <br>
    <strong>@ViewData["Plataform"]</strong>
</address>
